<!--
  Generated template for the Sub-categoriessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title class="capitalize" *ngIf="language == 'english'">{{ CategoryName }} <button icon-only style="background-color: transparent; float: right" (click)="root_page()"> <ion-icon name="home"></ion-icon> </button></ion-title>
		<ion-title class="capitalize" *ngIf="language == 'gujarati'">{{ CategoryNameGujarati }} <button icon-only style="background-color: transparent; float: right" (click)="root_page()"> <ion-icon name="home"></ion-icon> </button></ion-title>
	</ion-navbar>
</ion-header>


<ion-content [class]="this.ion_content" style="background-color: #fff;">
	<ion-grid class="signup" *ngIf="this.Loader == 1">
	    <ion-row>
	        <ion-col text-center>
	          <ion-spinner name="crescent" color="white_color"></ion-spinner>
	        </ion-col>
	    </ion-row>
	</ion-grid>
	<ion-grid *ngIf="this.Loader != 1">
		<ion-row style="background: #2874f0;" class="search_header">
			<ion-col col-10>
				<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredSubCategory()"></ion-searchbar>
			</ion-col>
			<ion-col col-2 style="position: relative;" (click)="page_redirect('CheckoutPage')">
				<ion-icon name="cart" style="font-size: 42px;color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"></ion-icon>
				<div class="list-inline" style="font-size: 42px;color: #fff;position: absolute;top: 10%;left: 70%;transform: translate(-50%, -50%);">
					<li>
						<a style="background-color: #fdd922;color: #000; font-size: 11px; height: 30px; width: 30px;padding: 5px 4px">{{cart_item}}</a>
					</li>
				</div>
			</ion-col>
		</ion-row>
		<ion-row class="basic_top_margin">
			<ion-col>
				<ion-segment [(ngModel)]="segment" color="primary" *ngIf="this.Loader != 1">
			      <ion-segment-button value="Item" (click)="page_redirect('CategoryItemPage', category)" text-center>
			      {{ 'Categorised_item' | translate }}
				  </ion-segment-button>
				  <ion-segment-button value="Sub_categories" (click)="page_redirect('SubCategoriesPage', category)" text-center>
					{{ 'Sub_categories' | translate }}
				  </ion-segment-button>
			    </ion-segment>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-list inset>
					<ion-item *ngFor="let sub_category of search_sub_categories" style="padding: 0px">
							<button class="capitalize" (click)="page_redirect('SubCategoryItemPage', sub_category.ID)" style="font-size: 1.6rem; background-color: unset;">
								<b *ngIf="language == 'english'">{{ sub_category.English_name.toLowerCase() }} ({{ sub_category.Total }} {{ 'Items' | translate }})</b>
								<b *ngIf="language == 'gujarati'">{{ sub_category.Gujarti_name }} ({{ sub_category.Total }} {{ 'Items' | translate }})</b>
							</button>
							<!--<button style="float: right;padding: 6px;color: #fff; background-color: #2874f0" (click)="download(sub_category.ID)">Download</button>-->
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
