page-changepassword {
    background-color: #2874f0 !important;
}
.masters.changepassword {
  background-color: #2874f0;
}

ion-grid.changepassword {
    min-height: 100%;
    justify-content: center;
}
