<!--
  Generated template for the ExamplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
    <ion-title class="capitalize">{{ 'Order' | translate }} <button icon-only style="background-color: transparent; float: right" (click)="root_page()"> <ion-icon name="home"></ion-icon> </button></ion-title>
  </ion-navbar>
</ion-header>
  
  
  <ion-content  [class]="this.ion_content">
	<ion-grid class="home" *ngIf="this.Loader == 1">
		<ion-row>
	      <ion-col text-center>
	        <ion-spinner name="crescent" color="white_color"></ion-spinner>
	      </ion-col>
	    </ion-row>
	</ion-grid>
	<ion-grid *ngIf="this.Loader != 1"  style="background-color: #fff;">
		<ion-row style="margin-top: 10px;">
			<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
				<ion-col style="">
					<button ion-button round  [class]="this.sorting_class.Default" (click)="active_sort('Default')">{{ 'Default' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Price_asc" (click)="active_sort('Price_asc')">{{ 'Highest_price' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Price_desc" (click)="active_sort('Price_desc')">{{ 'Lowest_price' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Date_desc" (click)="active_sort('Date_desc')">{{ 'Newest' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Date_asc" (click)="active_sort('Date_asc')">{{ 'Oldest' | translate }}</button>
				</ion-col>
			</ion-scroll>
		</ion-row>
		<ion-row style="background-color: #f3f3f3;">
			<ion-col col-12 col-xs *ngFor="let order of orders; let index = index">
				<ion-card>
					<ion-card-header style="border-bottom: 1px solid #f3f3f3; color: #2874f0; font-weight: bold">
						{{ 'Date' | translate }}: {{order.Create_timestamp}} | {{ 'Number' | translate }}: {{order.ID}}
					</ion-card-header>
					<ion-card-content style="padding: 0px !important;">
						<ion-grid style="padding-bottom: 0px !important;">
							<ion-row>
								<ion-col col-6 col-xs class="order_data" style="border-right: 1px solid #f3f3f3;padding: 5px">
									<div>
										<h3>{{ 'Date' | translate }} <span style="float: right">{{order.Create_timestamp}}</span></h3>
									</div>
									<div>
										<h3>{{ 'Sub_total' | translate }} <span style="float: right">Rs. {{order.Sub_total}}</span></h3>
									</div>
									<div style="padding: 5px 5px 0px 5px">
										<h3>{{ 'Discount' | translate }} <span style="float: right">Rs. {{order.Discount}}</span></h3>
									</div>
								</ion-col>
								<ion-col col-6 col-xs class="order_data">
										<div>
											<h3>{{ 'Number' | translate }} <span style="float: right">{{order.ID}}</span></h3>
										</div>
										<div>
											<h3>{{ 'GST' | translate }} <span style="float: right">Rs. {{order.GST}}</span></h3>
										</div>
										<div>
											<h3>{{ 'Shipping' | translate }} <span style="float: right">Rs. {{order.Shipping}}</span></h3>
										</div>
								</ion-col>
								<ion-col col-12 col-xs style="border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; ">
									<div style="padding: 5px">
										<h3 style="text-align: center;font-size:18px;font-weight:bold;color: #2874f0">{{ 'Total' | translate }} <span>Rs. {{order.Total}}</span></h3>
									</div>
								</ion-col>
								<ion-col col-4 col-xs class="sharing_button"  (click)="view_order(order.ID)">
									{{ 'View' | translate }}
								</ion-col>
								<ion-col col-4 col-xs class="checkout_cart_button" (click)="export('http://13.126.207.35/screenshot?url=www.vsss.co.in/index.php/Order_mail/printing/'+order.ID+'&selector=page')" style="background-color: #2874f0">
									{{ 'English_export' | translate }}
								</ion-col>
								<ion-col col-4 col-xs class="sharing_button" (click)="export('http://13.126.207.35/screenshot?url=www.vsss.co.in/index.php/Order_mail/printing_gujarati/'+order.ID+'&selector=page')">
									{{ 'Gujarati_export' | translate }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row style="background-color: #f3f3f3;text-align: center;padding-bottom: 10px">
			<ion-col style="margin-top: 10px">
				<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
					<div class="list-inline">
						<li *ngFor="let page of pagination" [class]="page.class" (click)="active_page(page.value)"><a>{{page.value}}</a></li>
					</div>
				</ion-scroll>
			</ion-col>
		</ion-row>
	</ion-grid>
  </ion-content>
  