<ion-header>
	
</ion-header>

<ion-content [class]="this.ion_content">
	<ion-grid class="home" *ngIf="this.Loader == 1">
		<ion-row>
	      <ion-col text-center>
	        <ion-spinner name="crescent" color="white_color"></ion-spinner>
	      </ion-col>
	    </ion-row>
	</ion-grid>
	<ion-grid *ngIf="this.Loader != 1;" style=" background-color: #fff;">
		<ion-row style="background: #2874f0;" class="search_header">
			<ion-col col-9>
				<ion-searchbar (ionFocus)="page_redirect('SearchPage')"></ion-searchbar>
			</ion-col>
			<ion-col col-1 style="position: relative;" (click)="barcode_scanner()">
					<ion-icon name="barcode" style="font-size: 28px;color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" > </ion-icon>
			</ion-col>
			<ion-col col-2 style="position: relative;" (click)="page_redirect('CheckoutPage')">
				<ion-icon name="cart" style="font-size: 42px;color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"></ion-icon>
				<div class="list-inline" style="font-size: 42px;color: #fff;position: absolute;top: 10%;left: 70%;transform: translate(-50%, -50%);">
					<li>
						<a style="background-color: #fdd922;color: #000; font-size: 11px; height: 30px; width: 30px;padding: 5px 4px">{{cart_item}}</a>
					</li>
				</div>
			</ion-col>
	  </ion-row>
		<ion-row class="basic_top_margin">
			<ion-col>
				<ion-segment [(ngModel)]="segment" color="primary">
			      <ion-segment-button value="Home" (click)="root_page()" text-center>
			        {{ 'Home' | translate }}
			      </ion-segment-button>
			      <ion-segment-button value="Category" (click)="page_redirect('CategoriesPage')" text-center>
			        {{ 'Category' | translate }}
						</ion-segment-button>
						<ion-segment-button value="Featured" (click)="page_redirect('FeaturedItemPage')" text-center>
			        {{ 'All_item' | translate }}
			      </ion-segment-button>
			      <ion-segment-button (click)="user_tab()" text-center>
			        {{ 'User' | translate }}
			      </ion-segment-button>
			    </ion-segment>
			</ion-col>
		</ion-row>
		<ion-row style="margin-top:10px">
			<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
				<ion-col style="">
					<button ion-button round  [class]="this.sorting_class.Default" (click)="active_sort('Default')">{{ 'Default' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Price_asc" (click)="active_sort('Price_asc')">{{ 'Highest_price' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Price_desc" (click)="active_sort('Price_desc')">{{ 'Lowest_price' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Name_asc" (click)="active_sort('Name_asc')">{{ 'A_Z' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Name_desc" (click)="active_sort('Name_desc')">{{ 'Z_A' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Date_desc" (click)="active_sort('Date_desc')">{{ 'Newest' | translate }}</button>
				</ion-col>
				<ion-col style="">
					<button ion-button round [class]="this.sorting_class.Date_asc" (click)="active_sort('Date_asc')">{{ 'Oldest' | translate }}</button>
				</ion-col>
			</ion-scroll>
		</ion-row>
		<ion-row style="background-color: #f3f3f3;">
			<ion-col col-6 *ngFor="let item of items; let index = index">
				<ion-card (click)="open_detail(item.ID)">
					<div class="image_area">
						<img src="{{ item.Image[0] }}" />
					</div>
				  <ion-card-content>
				    <ion-card-title class="capitalize" *ngIf="language == 'english'">
				      {{item.English_name.toLowerCase()}}
						</ion-card-title>
						<ion-card-title class="capitalize" *ngIf="language == 'gujarati'">
							{{item.Gujarati_name}}
						</ion-card-title>
				    <ion-grid>
				    	<ion-row>
				    		<ion-col>
				    			<h4>{{ 'Rate' | translate }}</h4>
				    			<P>₹ {{ item.Rate }}</P>
				    		</ion-col>
				    		<ion-col>
				    			<h4>{{ 'MRP' | translate }}</h4>
				    			<P>₹ {{ item.MRP_rate }}</P>
				    		</ion-col>
				    	</ion-row>
				    </ion-grid>
				    <div *ngIf="item.Button == 'Add'">
				    	<ion-grid>
				    		<ion-row>
				    			<ion-col col-9 col-xs>
				    				<button ion-button full color="primary" (click)="add_to_cart(index)">{{ 'Add_to_cart' | translate }}</button>
				    			</ion-col>
				    			<ion-col col-3 col-xs>
				    				<button ion-button full color="primary" (click)="sharing(item.English_name.toLowerCase(), item.MRP_rate, item.IGST, item.Image[0])"><ion-icon name="share"></ion-icon></button>
				    			</ion-col>
				    		</ion-row>
				    	</ion-grid>
				    </div>
				    <div *ngIf="item.Button != 'Add'">
				    	<ion-grid>
				    		<ion-row>
				    			<ion-col col-9 col-xs>
				    				<button ion-button full color="danger" (click)="remove_from_cart(index)">{{ 'Remove_from_cart' | translate }}</button>
				    			</ion-col>
				    			<ion-col col-3 col-xs>
				    				<button ion-button full color="primary" (click)="sharing(item.English_name.toLowerCase(), item.MRP_rate, item.IGST, item.Image[0])"><ion-icon name="share"></ion-icon></button>
				    			</ion-col>
				    		</ion-row>
				    	</ion-grid>
				    </div>
				  </ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row style="background-color: #f3f3f3;text-align: center;padding-bottom: 10px">
			<ion-col style="margin-top: 10px">
				<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
					<div class="list-inline">
						<li *ngFor="let page of pagination" [class]="page.class" (click)="active_page(page.value)"><a>{{page.value}}</a></li>
					</div>
				</ion-scroll>
				<div class="list-inline">
					<li [class]="prev_page"  (click)="prev_page_pagination()"><a><</a></li>
					<li [class]="next_page"  (click)="next_page_pagination()"><a>></a></li>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
