<ion-header>
	<ion-navbar>
    <ion-title class="capitalize">{{ 'Order' | translate }} <button icon-only style="background-color: transparent; float: right" (click)="root_page()"> <ion-icon name="home"></ion-icon> </button></ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="this.ion_content">
	<ion-grid class="home" *ngIf="this.Loader == 1">
		<ion-row>
	      <ion-col text-center>
	        <ion-spinner name="crescent" color="white_color"></ion-spinner>
	      </ion-col>
	    </ion-row>
	</ion-grid>
	<ion-grid *ngIf="this.Loader != 1"   style="background-color: #fff;">
		<ion-row style="background: #2874f0;" class="search_header">
			<ion-col col-10>
				<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredOrderItem()"></ion-searchbar>
			</ion-col>
			<ion-col col-2 style="position: relative;" (click)="page_redirect('CheckoutPage')">
				<ion-icon name="cart" style="font-size: 42px;color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"></ion-icon>
				<div class="list-inline" style="font-size: 42px;color: #fff;position: absolute;top: 10%;left: 70%;transform: translate(-50%, -50%);">
					<li>
						<a style="background-color: #fdd922;color: #000; font-size: 11px; height: 30px; width: 30px;padding: 5px 4px">{{cart_item}}</a>
					</li>
				</div>
			</ion-col>
	    </ion-row>
			<ion-row class="basic_top_margin">
					<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
							<ion-col style="">
								<button ion-button round  [class]="this.sorting_class.Default" (click)="active_sort('Default')">{{ 'Default' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Price_asc" (click)="active_sort('Price_asc')">{{ 'Highest_price' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Price_desc" (click)="active_sort('Price_desc')">{{ 'Lowest_price' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Name_asc" (click)="active_sort('Name_asc')">{{ 'A_Z' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Name_desc" (click)="active_sort('Name_desc')">{{ 'Z_A' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Date_desc" (click)="active_sort('Date_desc')">{{ 'Newest' | translate }}</button>
							</ion-col>
							<ion-col style="">
								<button ion-button round [class]="this.sorting_class.Date_asc" (click)="active_sort('Date_asc')">{{ 'Oldest' | translate }}</button>
							</ion-col>
						</ion-scroll>
			</ion-row>
			<ion-row style="background-color: #f3f3f3;">
				<ion-col col-12 col-xs *ngFor="let item of items; let index = index">
					<ion-card *ngIf="item.View == 'True'">
						<ion-card-content style="padding: 0px !important;">
							<ion-grid style="padding: 5px !important;border: none">
								<ion-row>
									<ion-col col-5 col-xs style="min-height: 150px; border: none">
									  <div class="image_area">
											<img src="{{item.Image[0]}}">
										</div>
									</ion-col>
									<ion-col col-7 col-xs class="item_content">
											<h3 class="capitalize" (click)="open_detail(item.Item_id)" *ngIf="language == 'english'">{{item.Item_name.toLowerCase()}}</h3>
											<h3 class="capitalize" (click)="open_detail(item.Item_id)" *ngIf="language == 'gujarati'">{{item.Item_gujarati_name}}</h3>
											<h5>{{ 'Order_date' | translate }}: {{item.Create_timestamp}} <br> {{ 'Qty' | translate }}: {{item.Quantity}} | <span class="capitalize"  *ngIf="language == 'english'">{{ 'Unit' | translate }}: {{item.Unit_name.toLowerCase()}}</span> <span class="capitalize"  *ngIf="language == 'gujarati'">{{ 'Unit' | translate }}: {{item.Unit_name_gujarati}}</span> <br> {{ 'Rate' | translate }}: {{item.Rate}} | {{ 'GST' | translate }}: {{item.IGST}}% | {{ 'Discount' | translate }}: {{item.Discount}}%</h5>
											<div class="rate_area">
												<h3 class="capitalize">Rs. {{item.Amount}}</h3>
											</div>
									</ion-col>
								</ion-row>
							</ion-grid>
							<ion-grid style="padding-bottom: 0px !important;">
								<ion-row>
									<ion-col col-6 col-xs class="sharing_button" (click)="sharing(item.Item_name.toLowerCase(), item.MRP_rate, item.Base_gst, item.Image[0])">
										{{ 'Sharing' | translate }}
									</ion-col>
									<ion-col col-6 col-xs class="checkout_cart_button" (click)="cancel_item(index)" *ngIf="item.Status == 'Open'">
										{{ 'Cancel' | translate }}
									</ion-col>
									<ion-col col-6 col-xs class="checkout_cart_button" style="background-color: #2874f0" *ngIf="item.Status == 'Success'">
										{{ 'Success' | translate }}
									</ion-col>
									<ion-col col-6 col-xs class="checkout_cart_button" *ngIf="item.Status == 'Close'">
									    {{ 'Closed' | translate }}
									</ion-col>
									<ion-col col-6 col-xs class="checkout_cart_button" *ngIf="item.Status == 'Cancelled'">
										{{ 'Cancelled' | translate }}
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row style="background-color: #f3f3f3;text-align: center;padding-bottom: 10px">
				<ion-col style="margin-top: 10px">
					<ion-scroll  scrollX="true" style="width: 100%;height: 60px;white-space: nowrap;text-align: center;">
						<div class="list-inline">
							<li *ngFor="let page of pagination" [class]="page.class" (click)="active_page(page.value)"><a>{{page.value}}</a></li>
						</div>
					</ion-scroll>
					<div class="list-inline">
							<li [class]="prev_page"  (click)="prev_page_pagination()"><a><</a></li>
							<li [class]="next_page"  (click)="next_page_pagination()"><a>></a></li>
					</div>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-content>
